@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.container > div {
  /* cursor: pointer; */
  height: 210px;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in;
}

.container > div:hover {
  opacity: 0.7;
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}
.container > div:nth-of-type(9) {
  grid-column: 3 / 5;
}
.container > div:nth-of-type(10) {
  grid-column: 1 / 3;
}

/* .fadeIn {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* .bg2 {
  /* background: url(https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg);
  background: url(https://i.ibb.co/Fb5jb3J/bg2.jpg); 
} */
